* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body {
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(to right, #bdf3ef, #f7fff1);
    color: #1e3f3f;
    padding: 20px;
}

header {
    background-color: #029e9d;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

header h1 {
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Fredoka', sans-serif;
}


.paises {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.pais {
    background-color: #ffffff;
    border: 2px solid #02b7b5;
    border-radius: 15px;
    width: 280px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pais:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.pais img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 3px solid #02b7b5;
}

.pais h3 {
    font-size: 22px;
    color: #017a77;
    margin-bottom: 10px;
    font-family: 'Fredoka', sans-serif;
}

.pais p {
    font-size: 16px;
    line-height: 1.4;
}


.curiosidades {
    background-color: #e8fff7;
    border: 2px dashed #ffc107;
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    max-width: 900px;
    text-align: center;
    font-size: 17px;
    line-height: 1.6;
    color: #2c3e3e;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.curiosidades p::before {
    content: "🌴 ";
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}