

.header {
    
    background-color: #0288d1; 
    padding: 20px 0;
    color: white;
  }
  
  .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  
  .titulo {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
  }
  
  .navbar li {
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
  }
  
  .navbar a {
    font-family: 'Fredoka', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ffeb3b; 
  }

  .agora a {
    font-family: 'Fredoka', sans-serif;
    border-bottom: 2px solid white;
  }
  
  .login {
    font-family: 'Fredoka', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background: linear-gradient(to left, #81d4fa, #b2ebf2);
  }
  
  .card-login {
    font-family: 'Fredoka', sans-serif;
    background-color: #e1f5fe;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transform-style: preserve-3d;
    transition: transform 0.8s;
    perspective: 1000px;
  }
  
  .card-login:hover {
    transform: rotateY(10deg);
  }
  
  .card-login h2 {
    margin-bottom: 20px;
    font-family: 'Fredoka', sans-serif;
    color: #01579b;
    text-align: center;
  }
  
  .login .campo input {
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    padding: 10px;
    border: 2px solid #0288d1;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .login .campo input:focus {
    outline: none;
    border-color: #01579b;
    background-color: #ffffff;
  }
  
  .login .botao {
    font-family: 'Fredoka', sans-serif;
    background-color: #0288d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .login .botao:hover {
    font-family: 'Fredoka', sans-serif;
    background-color: #01579b;
    transform: scale(1.05);
  }
  
 
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    .card-login,
    .card-cadastro {
      transform: none;
    }
  }
  